<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- html에서 서블릿에 있는 것을 받을 수 있는데 그럴려면 제이슨을 알아야해 -->
<script>

// var result = {"message":{"result":{"translatedText":"내가 아까 걔야."}}}
// var str = JSON.stringify(result);
// alert(str);

//	var arr = []; //자바스크립트는 방 갯수 지정X 넣는만큼 들어간다.
//	arr[arr.length] = 1; //arr의 0번째 방에 1을 집어 넣었다.
//	arr[arr.length] = 1; //예전에는 이런 식으로 했다.
//	arr.push(3); //index2에 3이 들어간다 (add랑 비슷)
//	alert(arr[2]);
//	var map = {}; //java의 map이랑 비슷한거랑 이해하는 것이 빠르다 (사실은 되게 다름)
//	map.key = 'value';
//	map['key'] = '난 다른 value';
//	alert(map.key);
</script>
</body>
</html>